3-1==1.0.0
absl-py==1.0.0
addict==2.4.0
aiohttp==3.8.1
aiosignal==1.2.0
altgraph==0.17.2
anyio==3.6.1
asgiref==3.5.0
asttokens==2.0.5
astunparse==1.6.3
async-timeout==4.0.1
attrs==21.2.0
backcall==0.2.0
backports.zoneinfo==0.2.1
# Editable install with no version control (basicsr==1.2.0+unknown)
-e e:\hinet-main
bleach==5.0.1
cachetools==4.2.4
certifi==2021.10.8
charset-normalizer==2.0.8
click==8.1.3
colorama==0.4.4
copulas==0.7.0
ctgan==0.5.1
cycler==0.11.0
Cython==0.29.21
DateTime==4.3
decorator==5.1.1
deepecho==0.3.0.post1
defusedxml==0.7.1
distlib==0.3.4
Django==4.0.4
djangorestframework==3.13.1
dominate==2.6.0
entrypoints==0.4
executing==0.8.3
Faker==9.9.1
fastapi==0.78.0
filelock==3.7.1
flatbuffers==1.12
fonttools==4.28.2
frozenlist==1.2.0
fsspec==2021.11.1
future==0.18.2
gast==0.4.0
google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
graphviz==0.20
grpcio==1.42.0
h11==0.13.0
h5py==3.6.0
idna==3.3
imageio==2.13.1
importlib-metadata==4.8.2
importlib-resources==5.8.0
install==1.3.5
ipykernel==5.5.6
ipython==7.15.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.18.1
Jinja2==2.11.3
joblib==1.1.0
json5==0.9.8
jsonpatch==1.32
jsonpointer==2.2
jsonschema==4.6.1
jupyter==1.0.0
jupyter-client==6.1.3
jupyter-console==6.1.0
jupyter-core==4.6.3
jupyterlab==2.1.4
jupyterlab-server==1.1.5
Keras==2.4.3
keras-nightly==2.10.0.dev2022051207
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
kmodes==0.12.1
kornia==0.6.4
lab==6.0
libclang==14.0.1
llvmlite==0.38.1
lmdb==1.3.0
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.5.2
matplotlib-inline==0.1.3
mistune==0.8.4
monai==0.8.0
multidict==5.2.0
nbconvert==5.6.1
nbformat==5.0.7
networkx==2.6.3
nibabel==3.2.1
notebook==6.0.3
numba==0.55.2
numpy==1.22.4
oauthlib==3.1.1
opencv-python==4.5.5.62
opt-einsum==3.3.0
packaging==21.3
pandas==1.4.3
pandocfilters==1.4.2
parso==0.8.3
pefile==2021.9.3
pickleshare==0.7.5
Pillow==8.4.0
platformdirs==2.5.2
prometheus-client==0.14.1
prompt-toolkit==3.0.29
protobuf==3.19.1
psutil==5.9.1
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydantic==1.9.1
pyDeprecate==0.3.1
Pygments==2.11.2
pyinstaller==5.0.1
pyinstaller-hooks-contrib==2022.4
pyparsing==3.0.6
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
pyrsistent==0.18.1
python-dateutil==2.8.2
pytorch-lightning==1.5.4
pyts==0.12.0
pytz==2021.3
PyWavelets==1.2.0
pywin32==304
pywin32-ctypes==0.2.0
pywinpty==2.0.5
PyYAML==5.4.1
pyzmq==22.3.0
qtconsole==5.3.1
QtPy==2.1.0
rdt==0.6.4
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.8
scikit-image==0.18.3
scikit-learn==1.1.1
scipy==1.8.1
sdmetrics==0.5.0
sdv==0.15.0
seaborn==0.11.0
Send2Trash==1.8.0
setuptools-scm==6.3.2
simplejson==3.17.6
six==1.16.0
sklearn==0.0
sniffio==1.2.0
sqlparse==0.4.2
stack-data==0.2.0
starlette==0.19.1
synthgauge @ git+https://github.com/datasciencecampus/synthgauge@33864d79093be45f552ad74ce61b575824dad443
tb-nightly==2.10.0a20220511
tensorboard==2.9.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow-io-gcs-filesystem==0.25.0
termcolor==1.1.0
terminado==0.15.0
testpath==0.6.0
text-unidecode==1.3
tf-estimator-nightly==2.10.0.dev2022051208
tf-nightly==2.10.0.dev20220512
threadpoolctl==3.0.0
tifffile==2021.11.2
timm==0.5.4
tomli==1.2.2
torch==1.10.0+cu102
torchaudio==0.10.0+cu102
torchfile==0.1.0
torchmetrics==0.6.0
torchsummary==1.5.1
torchvision==0.11.1+cu102
tornado==6.1
tqdm==4.62.3
traitlets==5.1.1
txt2tags==3.7
typing_extensions==4.0.1
tzdata==2022.1
urllib3==1.26.7
uvicorn==0.18.2
versioneer==0.19
virtualenv==20.15.1
visdom==0.1.8.9
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.3
Werkzeug==2.0.2
widgetsnbextension==3.5.2
wrapt==1.14.1
yapf==0.32.0
yarl==1.7.2
zipp==3.6.0
zope.interface==5.4.0
